In [31]:
import pandas as pd
import numpy as np
df=pd.DataFrame([])

In [34]:
dfi=pd.read_csv(f"./Datos/Persona_1/Gesto_1/Dato_1.csv")
dfi=dfi.drop(columns=["Unnamed: 0"])
dfi=dfi.loc[dfi["Thumb"]!="E",:] 
dfi

,emg1,emg2,emg3,emg4,emg5,emg6,emg7,emg8,Thumb,Index,Middle,Ring,Pinkie
0,136,111,97,35,95,160,46,79,2384.0,3912.0,2742.0,3733.0,2570.0
1,143,117,95,37,93,152,43,97,2489.0,4077.0,3450.0,4077.0,3306.0
2,121,138,101,37,89,153,42,96,2489.0,4077.0,3450.0,4077.0,3306.0
3,125,125,87,38,86,154,42,102,2489.0,4076.0,3450.0,4077.0,3306.0
4,124,126,79,35,85,149,43,105,2489.0,4077.0,3450.0,4077.0,3306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,114,108,96,32,67,152,39,101,2485.0,4077.0,3459.0,4077.0,3299.0
146,115,109,88,33,59,148,42,102,2484.0,4077.0,3458.0,4077.0,3298.0
147,138,111,81,33,68,140,41,111,2484.0,4077.0,3458.0,4077.0,3298.0
148,117,106,85,40,67,132,39,97,2484.0,4077.0,3457.0,4077.0,3297.0
149,116,103,87,39,63,93,31,91,2483.0,4077.0,3457.0,4077.0,3296.0

In [44]:
def sep(n,dfi):
    emg1=np.array(dfi["emg1"])
    emg1=np.array_split(emg1, 15)
    emg2=np.array(dfi["emg2"])
    emg2=np.array_split(emg2, 15)
    emg3=np.array(dfi["emg3"])
    emg3=np.array_split(emg3, 15)
    emg4=np.array(dfi["emg4"])
    emg4=np.array_split(emg4, 15)
    emg5=np.array(dfi["emg5"])
    emg5=np.array_split(emg5, 15)    
    emg6=np.array(dfi["emg6"])
    emg6=np.array_split(emg6, 15)    
    emg7=np.array(dfi["emg7"])
    emg7=np.array_split(emg7, 15)    
    emg8=np.array(dfi["emg8"])
    emg8=np.array_split(emg8, 15) 
    Thumb=np.array(dfi["Thumb"])
    Thumb=np.array_split(Thumb, 15)   
    Index=np.array(dfi["Index"])
    Index=np.array_split(Index, 15)   
    Middle=np.array(dfi["Middle"])
    Middle=np.array_split(Middle, 15)   
    Ring=np.array(dfi["Ring"])
    Ring=np.array_split(Ring, 15)    
    Pinkie=np.array(dfi["Pinkie"])
    Pinkie=np.array_split(Pinkie, 15)
    a=[emg1,emg2,emg3,emg4,emg5,emg6,emg7,emg8]
    s=[Thumb,Index,Middle,Ring,Pinkie] 
    return np.transpose(a),np.transpose(s)

In [49]:
a,s=sep(15,dfi)

c:\Users\DAVID\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\fromnumeric.py:43: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = getattr(asarray(obj), method)(*args, **kwds)